In [1]:
import pandas as pd

In [2]:
genre_names = pd.read_csv('films_dataset/categories.csv', sep='|', header=None, names=['category','category_id'])
genre_names

       category  category_id
0       unknown            0
1        Action            1
2     Adventure            2
3     Animation            3
4    Children's            4
5        Comedy            5
6         Crime            6
7   Documentary            7
8         Drama            8
9       Fantasy            9
10    Film-Noir           10
11       Horror           11
12      Musical           12
13      Mystery           13
14      Romance           14
15       Sci-Fi           15
16     Thriller           16
17          War           17
18      Western           18

In [3]:
df_col_names = ['title', 'release_date', 'release_video_date', 'url'] + list(genre_names['category'].values)
initial_df = pd.read_csv('films_dataset/films.csv', sep='|', header=None, names=df_col_names)
initial_df.head()

,title,release_date,release_video_date,url,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
initial_df.set_index("title", inplace=True)
initial_df.head()

,release_date,release_video_date,url,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
title,,,,,,,,,,,,,,,,,,,,,
Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [5]:

df = initial_df[list(genre_names['category'].values)].astype(bool)
df.head()

,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
title,,,,,,,,,,,,,,,,,,,
Toy Story (1995),False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False
GoldenEye (1995),False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
Four Rooms (1995),False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
Get Shorty (1995),False,True,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False
Copycat (1995),False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False

In [6]:
from mlxtend.preprocessing import TransactionEncoder

# Convertir DataFrame a una lista de transacciones
transactions = df.apply(lambda row: row[row].index.tolist(), axis=1).tolist()

# Instanciar el TransactionEncoder
encoder = TransactionEncoder().fit(transactions)

# One-hot encode las transacciones
onehot = encoder.transform(transactions)

# Convertir a DataFrame
onehot_df = pd.DataFrame(onehot, columns=encoder.columns_)

# Calcular el soporte (proporción de 1's por columna)
support = onehot_df.mean()

# Mostrar el soporte
print("Soporte de cada género:")
print(support)

Soporte de cada género:
Action         0.149227
Adventure      0.080262
Animation      0.024970
Children's     0.072533
Comedy         0.300238
Crime          0.064804
Documentary    0.029727
Drama          0.431034
Fantasy        0.013080
Film-Noir      0.014269
Horror         0.054697
Musical        0.033294
Mystery        0.036266
Romance        0.146849
Sci-Fi         0.060048
Thriller       0.149227
War            0.042212
Western        0.016052
unknown        0.001189
dtype: float64